.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9f9f9;
    align-items: center;
}

.header__logo {
    height: 40px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header_icon {
    color: #ff5864;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}