.tinderCards {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.tinderCards__cardContainer {
    width: 90vw;
    max-width: 400px;
    height: 60vh;
    position: relative;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
    cursor: grab;
    touch-action: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card:active {
    cursor: grabbing;
}

.card h3 {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}